[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	/*font-family: "Helvetica CE", Verdana, Arial, sans-serif;*/
	font-family: "Calibri", sans-serif;
	font-size: 12pt;
	color: #444;
	text-align: center;
	background-color: #fff;
}

p {
  padding: 20px;
}

.scrollarea {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	
	overflow: auto;
}

.whole {
	background: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.intro {
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	
	width: 500px;
	height: 300px;	
}

.loader {
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	
	width: 500px;
	height: 300px;	
	
	z-index: 21;
	
	background: #fff;
}

.loaderbarborder {
	margin: 130px 0px;
	height: 15px;
	border: 1px solid #444;
}

.loaderbarprogress {
	width: 0%;
	background: #444;
	height: 100%;
}

.intro a {
	font-weight: normal;
	text-decoration: none;
	color: #444;
}

.intro h1 {
	font-family: "Cambria", serif;
	font-weight: normal;
	font-size: 32pt;
	text-align: center;
	border-bottom: 1px solid #ddd;
	
	margin: auto;
	
	position: relative;
}

.text {
	font-family: "Cambria", serif;
	font-weight: normal;
	font-size: 18pt;
	text-align: center;
	font-style: italic;
	line-height: 50px;
	
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}

.intro p {
	font-family: "Cambria", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 20pt;
}

.list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.list li {
	border-radius: 5px;
	border: 1px solid #c4beaf;
	background: #fff;

	margin: 10px;
	padding: 0px;
	display: block;
	float: left;
	width: 250px;
	height: 250px;
}

.list .lastitem {
	/*margin-left: 282px;*/
}

.itemcontent {
	margin: 5px;
	border: 1px solid #c4beaf;
	height: 238px;
	position: relative;
}

.itemcontent a {
	text-decoration: none;
}

.itemheader {
	padding: 10px;
	margin: 0px;
	height: 20px; /*60px*/
	/*line-height: 20px;*/
	background: #373585;
	position: absolute;
	bottom: 0px;
	width: 218px;
	
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    
    overflow: hidden;
}

.itemheader {
	color: #fff;
}

.itembody {
	margin: 0px;
	padding: 0px;
	height: 238px;
	
	color: #fff;
	
	background-repeat: no-repeat;
	background-size: 238px 238px;
}

.itembody h1 {
	font-size: 14pt;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.itembody p {
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #fff;
	font-size: 8pt;
}

.itemdescription {
	display: none;
}

.canvas  {
	border: none;
	
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    /*overflow: hidden;*/
    position: fixed;
    right: 0;
    top: 0;
	text-align: center;
	
	background: #fff;
	
	padding: 0px;
	margin: 0px 0px;
}

.canvas img {
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	
	margin: auto;
    max-width: 100%;
    max-height: 100%;
	/*height: 100%;*/
	border: none;
}

.navigation {
	position: fixed;
	bottom: 0px;
	height: 55px;
	width: 100%;
}

.navigation .container {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}